<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StockGoodsPutMapper">

    <!-- 分页获取物资商品库房信息 -->
    <select id="queryStockGoodsPutPage" resultType="java.util.LinkedHashMap">
        SELECT
        sp.id,
        sp.num,
        sp.price,
        sp.custodian,
        sp.put_user AS putUser,
        sp.content,
        sp.create_date AS createDate
        FROM
        stock_goods_put sp
        WHERE 1 = 1
        <if test="stockGoodsPut.num != null and stockGoodsPut.num != ''">
            AND sp.num LIKE CONCAT('%',#{stockGoodsPut.num},'%')
        </if>
        <if test="stockGoodsPut.putUser != null and stockGoodsPut.putUser != ''">
            AND sp.put_user LIKE CONCAT('%',#{stockGoodsPut.putUser},'%')
        </if>
        <if test="stockGoodsPut.custodian != null and stockGoodsPut.custodian != ''">
            AND sp.custodian LIKE CONCAT('%',#{stockGoodsPut.custodian},'%')
        </if>
        ORDER BY
        sp.create_date DESC
    </select>
</mapper>
